$main-color: #F7EFD8;
$sub-color: #E9D4A7;
$accent-color: #B5C49B;
$text-color: #4c4c4c;
$link-color: #14c0c9;
$link-hover-color: #0f949b;

$grid-columns: 12;
$grid-gap: 20px;
$container-max-width: 1200px;